body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8A2BE2;
}

.signup-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #8A2BE2;
    border-radius: 5px;
    background-color: white;
    color: #ffffff;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 2px solid #6A1B9A;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #8A2BE2;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #6A1B9A;
    color: #ffffff;
}
